/* Auction details */
#auctionDetails {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  display: flex;
}

#auctionDetails .auction-left-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex: 1;
  }
  
  #auctionDetails .auction-right-col {
    flex: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  
  #auctionDetails .auction-title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
  
  #auctionDetails .auction-description {
    font-size: 1rem;
    color: #000;
    line-height: 1.5;
  }
  
  #auctionDetails .auction-admin-buttons {
    margin-top: 1rem;
  }
  
  #auctionDetails .auction-ends-at {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #353945;
    padding: 0.6em 1em;
    border-radius: 8px;
    text-align: center;
    width: fit-content;

  }

  #auctionDetails .active-image-container {
    width: 100%;
    max-width: 400px;
    height: 400px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#auctionDetails .auction-active-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px;
}
  
  .thumbnails-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .auction-thumbnail {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .auction-thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #auctionDetails #auctionBids {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--clr-primary-600);
    padding: 2em;
    border-radius: 10px;
    padding: 2rem 4rem;
  }
  
  #auctionDetails #auctionBids p {
    margin: 0;
  }
  
  #auctionBids button {
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    #auctionDetails {
      flex-direction: column;
      padding: 2rem;
      gap: 1rem;
      align-items: start;
    }
  
    #auctionDetails .auction-active-image {
      max-width: 100%;
      height: auto;
    }
  
    #auctionDetails #auctionBids {
      padding: 2rem;
    }
  }
  