/* ====================
   Footer
   ==================== */

   footer {
    text-align: center;
  }
  
  footer p {
    color: var(--clr-neutral-400);
    font-weight: 300;
    font-size: var(--fs-300);
  }