/* ====================
   Hero section
   ==================== */

.hero-bg {
  background: url('/assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-bg .hero-left-col {
  width: 66%;
}

/* Mobile adjustments */
@media (max-width: 50em) {
  .hero-bg {
    background: url('/assets/hero-bg-mobile.jpg');
    background-size: cover;
    background-position: top;
  }

  .hero-bg .hero-left-col {
    width: 90%;
  }
}