/* ====================
     Auction grid
     ==================== */
  
     .auction-grid {
        display: grid;
        gap: .125rem;
        grid-template-columns:
          repeat(auto-fit, minmax(20rem, 1fr));
        justify-content: center;
        align-items: center;
      }
      
      .auction-item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        max-width: 100%;
        overflow: hidden;
        margin: 0 0.4em;
        align-items: center;
      }

      
      .auction-item-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
      }
      
      .auction-item-image:hover {
        filter: brightness(0.5);
        transition: 250ms;
      }
      
      .auction-item h3 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin: 15px 0 10px 0;
      }

      @media (max-width: 768px) {
        .auction-grid {
          grid-template-columns: repeat(2, 1fr);
        }

        .auction-item {
          max-width: 100%;
          height: auto;
        }
      }